*
{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.outer_box
{
    height: 250px;
    width: 400px;
    border: 1px solid rgb(40, 34, 34);
    border-radius: 20px;
}

.bar
{
    width: 80%;
    height: 25px;
    border: 1px solid rgb(32, 29, 29);
    margin :60px auto;
    border-radius: 30px;

}

.progress
{
    width: 10%;
    height: 100%;
    background-color: rgb(94, 193, 128);
    border-radius: 30px;
}

h2 , p{
    text-align: center;
}